.post-container{
    display: flex;
    flex-direction: row;
}

.subreddits-list{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 60vh;
}

.feed-category-layout{
    display: flex;
    flex-direction: row;
}

.sub-tile{
    display: flex;
    flex-direction: row;
}
.sub-tile,img{
    width: 25px;
    height: auto;
}