html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    height: 64px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    grid-column: 1 / -1;
}

.logo{
    font-weight: 700;
    padding: var(--spacing-1) 0;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
}

.logo svg{
  width: 100%;
  max-width: 30px;
  max-height: 30px;
}

.searchbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  max-width: 100%;
  border: none;
}

.searchbox-container svg{
  cursor: pointer;
}

.searchbox-container input{
  height: 100%;
  flex-grow: 1;
  border-radius: 4px;
  max-height: 30px;
  border: none;
  background: #f3f3f3;
} 
.post-container{
  display: grid;
  grid-template-columns: 1fr 6fr;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 6px;
  margin: 16px 0;
}

.vote-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-content{
  display: flex;
  flex-direction: column;
}

.comment-icon-container{
  display: flex;
  justify-content: end;
  align-items: end;
}



.comment-icon-container p{
  margin: 0;
}

.comment-icon-container svg:hover{
  cursor: pointer;
}

.logo p span{
  color: #FF4500;
  font-size: large;
}

.logo p{
  padding-left: 5px;
}

.feed-layout{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.subreddit-container{
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 8px;
  margin: 16px 16px;
  display: flex;
  height: fit-content;
}

.sub-list-title{
  font-size: large;
  text-decoration: underline;
}

.subreddits-list{
  padding: 0;
  width: 5vw;
}

.sub-tile{
  display: grid;
  grid-template-columns: 1fr 4fr;
  cursor: pointer;
}

.sub-tile:hover{
  filter: brightness(85%);
}
.sub-tile img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 100%;
  padding-right: 5px;
}

.post-image-container{
  display: flex;
  justify-content: center;
}

.post-image-container img{
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.subreddit-image{
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 5px;
}

.vote-section svg:hover{
  cursor: pointer;
}

.post-feed-container ul{
  list-style-type: none;
}

.comments-container{
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 16px;
  margin: 16px 0;
}